/* Medium device media query */
@media (max-width: 991px) {
  #header .container .box.center {
    gap: 0rem;
  }
  #header .callStatus,
  #header .widgetIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  #header .callStatus .status {
    text-align: center;
  }
  #header .callStatus .status .count {
    font-size: 1.4rem;
    font-weight: 700;
  }
}

/* Small device media query */

@media (max-width: 767px) {
  #header .container .box.center {
    gap: 0rem;
    flex-basis: 35%;
  }
  #header .callStatus {
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    align-items: unset;
    align-content: center;
    justify-content: center;
  }
  #header .widgetIcons {
    height: 0%;
    clip-path: inset(0 0 100% 0);
  }
  /* mainContent styles  */
  #mainContent {
    padding: 0;
    gap: 1rem;
    overflow: hidden;
  }

  /* headlineSection styles  */
  #headlineSection {
    gap: 1rem;
  }
  #headlineSection .headlineTitle {
    flex-basis: 22%;
    font-size: 1.8rem;
  }
  #headlineSection .headlines {
    gap: 0rem;
    padding: 0 1rem;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* mainContent  styles */
  #mainContent .agentBox {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    max-width: 0%;
    padding: 0;
  }
  #mainContent .logBox {
    max-width: 60%;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
    border-radius: 0;
    padding-left: 0;
    margin-left: -1rem;
  }

  #mainContent .dialBox {
    max-width: 40%;
  }
}
/* Extra small (450px) device media query */
@media (max-width: 450px) {
  /* Header styles */
  #header {
    height: 9rem;
  }
  #header .container .box.center {
    display: none;
  }
  /* contentArea styles */
  #contentArea {
    height: calc(100vh - 12rem);
    top: 9rem;
    width: 100%;
  }
  /* headlineSection styles  */
  #headlineSection {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: none;
  }
  /* mainContent  styles */
  #mainContent {
    top: 0rem;
    height: calc(100% - 0rem);
    gap: 0;
  }
  #mainContent .logBox {
    max-width: 0%;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    padding: 0;
    margin-left: 0rem;
  }
  #mainContent .dialBox {
    max-width: 100%;
    clip-path: polygon(50% 1%, 100% 0, 100% 100%, 50% 97%, 0 100%, 0 0);
    padding: 0;
  }
}
